.html {
    overflow-x: hidden; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Rubik;
    src: url('../fonts/Rubik-SemiBold.ttf');
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Rubik;
    width: 100%;
    overflow-x:hidden;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}

@media (max-width:1150px) {
    div.container{
        max-width: 970px;
    }
}

@media (max-width:992px) {
    div.container{
        max-width: 750px;
    }
    header.header{
        margin-bottom: 130px;
    }
}

@media (max-width:767px) {
    div.container{
        max-width: none;
    }
    header.header{
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-evenly;
        margin-bottom: 80px;
    }
    h1.intro-title {
        font-size: 2rem;
        line-height: 40px;
    }

    ul.nav-list {
        display: none;
    }
    
    button.nav-button {
        display: block; 
    }
    
    .header-nav {
        align-items: center;
        margin-bottom: 0;
    }

    .nav.open .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 1;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
        color: black;
    }

    a.navlink {
        color: #828282;
    }
    a.navlink.active {
        color: black;
    }

    h1.footer-title {
        font-size: 16px;
    }

    p.footer-text {
        font-size: 10px;
    }

    button.button {
        padding: 6px 6px;
        font-size: 15px;
    }

    div.popup-content {
        width: 80%;
    }

    img.footer-img {
        height: 50px;
        width: 50px;
        margin-bottom: 5px;
    }

    img.sevsu-img {
        height: 90px;
        width: auto;
    }

    li.footer-item {
        margin-right: 10px;
    }
}
    
.f-container{       
    margin: 0 auto;
    opacity: 0;
    transform: translateY(10%);
}

.logo{
    height: 49.77px;    
    width: 180px;
    display: inline-block;
}

.logo-image{
    height: 49.77px;
    width: 180px;
}

.intro {
    background-image: linear-gradient(90deg, rgba(41, 37, 250, 0.5) 0%, rgba(71, 68, 242, 0.5) 100%), url('../Img/Korabl.jpeg');
    background-size: cover;
    width: 100%;
    margin: auto 0;
    min-height: calc(var(--visual-viewport-height) - 94px);
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 27px;
    margin-bottom: 157px;
}

.navlink {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navitem {
    margin-right: 30px;
}

.navitem:last-child {
    margin-right: 0;
}

.intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.intro-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 86px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 39px;
    text-align: center;
}

.intro-description {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: white;
    width: 540px;
    text-align: center;
}

.title {
    font-weight: 600px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 40px;
}

.feauture {
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 4rem;
}

.feautures-card {
    width: 350px;
}

.f-card-image {
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.f-info {
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 28px;
    margin-right: 28px;
    padding: 33px 32px 25px 32px;
    text-align: center;
    margin-top: -93px;
    position: relative;
}

.f-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
}

.f-description {
    margin-bottom: 26px;
}

.f-link {
    text-decoration: none;
    font-weight: 700;
    color: rgb(23, 81, 254);
}

.feautures-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
}

.f-container._animation {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

.underline-one {
    position: relative;
    cursor: pointer;
    text-decoration: none; 
}
.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(23, 81, 254); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(23, 81, 254); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.underline-one-nav {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.underline-one-nav:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgb(255, 255, 255); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.underline-one-nav:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(255, 255, 255); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

/*
.feauture {
    transform: translateY(10%);
    opacity: 0;
    animation: ani 3s forwards;
}
====
 @keyframes ani {
    100% {transform: translateY(0);}
    100% {opacity: 1;}
 }
 */

 .circular-arrow {
    width: 43px;
    height: 43px;
    border: 2px solid rgb(23, 81, 254);
    border-radius: 100%;
    position: relative;
    animation: down 1.5s infinite;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .circular-arrow::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 13px;
    width: 13px;
    height: 13px;
    border-left: 2px solid rgb(23, 81, 254);
    border-bottom: 2px solid rgb(23, 81, 254);
    transform: rotate(-45deg);
  }
  @keyframes down {
    0% {
    transform: translate(0);
    }
    20% {
    transform: translateY(15px);
    }
    40% {
    transform: translate(0);
    }
  }
  
  .Arrow {
    background-color: #fafafa;
    padding: 1px 0 1px 0;
    align-items: center;
  }
 
  .nav-link {
    color: #828282;
}

.nav-link.active {
    color: black;
}

.nav-button {
    position: relative;
    z-index: 9;
    display: none;
}

.nav-button._click {
    position: fixed;
    z-index: 9;
    top: 46px;
    right: 30px;
    display: block;
}

.footer {
    background-color: #fafafa;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0;
    border-style: solid;
    border-top-width: 2px;
    border-color: rgb(23, 81, 254);
}

.left-info {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
}

.right-info {
   display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: end;
}

.footer-title {
    font-weight: 600;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    margin-bottom: 20px;
}

.footer-text {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    color: black;
  }
  
  .popup-content {
    background-color: #fefefe;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: rgb(23, 81, 254);
    text-decoration: none;
    cursor: pointer;
  }
  
.button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(23, 81, 254);
    border-radius: 0.6rem;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: rgb(23, 81, 254);
}

.button:hover {
    color: #fff;
    outline: 0;
    transition: 0.5s;
    background-color: rgb(23, 81, 254);
}

.popup-title {
    font-weight: 600;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 5px;
    color: black;
}


.popup-text {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.name {
    border: 2px solid rgb(23, 81, 254);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.email {
    border: 2px solid rgb(23, 81, 254);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.textarea {
    border: 2px solid rgb(23, 81, 254);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    resize: vertical;
}

.send-button {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}

.send-button:hover {
    color: rgb(23, 81, 254);
}

.label-name {
    color: black;
}

.footer-img {
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
}

.footer-url {
    text-decoration: none;
    color: rgb(23, 81, 254);
    text-align: center;
}

.footer-ul {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.footer-item {
    display: flex;
    margin-right: 30px;
}

.footer-title:last-child {
    margin-right: 0px;
}

.sevsu-img {
    width: 100%;
    height: 100%;
}